@import "bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  /* background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb; */
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#55707e),
      to(rgba(255, 255, 255, 0))
    ),
    #042232;
  background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%),
    #042232;
}

.btn {
  background-color: #fff !important;
}

.btn:hover {
  background-color: black !important;
  color: white !important;
}

.weather {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.weather-info_city {
  text-align: center;
  font-size: 72px;
  color: white;
}
.weather-info_icon {
  margin-right: 30px;
}
.weather-info_degree {
  font-size: 82px;
  color: white;
  text-align: center;
}

.weather-info_info-wrapper {
  display: flex;
  justify-content: space-around;
}

.weather-info_column {
  margin-top: 30px;
}

.weather-info_column-content {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.text {
  color: white;
  font-size: 20px;
  text-align: center;
}
